*{
box-sizing: border-box;
}

body{
    margin: 0%;
}

.window1{
    height: 100vh;
    width: 100vw;
}

.Task1{
    display: inline-block;
    background-image: url(../images/Sakura.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center
}

.Hello{
    text-align: center;
    margin-top: 50vh;
    font-size: 50px;
}

.but{
    padding: 15px;
}

.window2{
    height: 100vh;
    width: 100vw;
    display: inline-block;
}

.colum{
    display: inherit;
    width: 50vw;
    height: 50vh;
    border: black 1px solid;
    text-align: center;
}

.ragnar{
    display: inherit;
    width: 300px;
    height:300px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 30px;
}

.par{
    margin: 0;
}

.window3{
    height: 100vh;
    width: 100vw;
    display: inline-block;
}

.Task3{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: black 1px solid;
}

.Task3 + .Task3{
    margin-left: -50px;
}