.FirstB {
  background-color: lightyellow;
  font-size: 14px;
}

h3 {
  color: rgb(108, 108, 201);
  font-size: 16px;
  font-style: sans-serif;
}

.FT {
  color: rgb(184, 153, 53);
}

.FO {
  color: #31a13a;
}

.allp {
  font-style: serif;
  text-decoration: underline 0.2em solid;
}

.FirstP {
  text-align: start;
}

.SecondP {
  text-align: center;
}

.ThirdP {
  text-align: end;
}

.IMG {
  display: block;
  margin: auto;
}

section p {
  text-decoration: overline 1px solid;
}

section > p {
  text-decoration: underline 1px solid;
}

li {
  list-style-type: none;
}

li > a {
  text-decoration: none;
}

.Par {
  display: inline-block;
}

.All {
  box-sizing: border-box;
}
