* {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100%;
  display: inline-block;
  background-color: rgb(240, 243, 232);
}

.bd {
  font-size: 0px;
}

.both {
  font-size: 1rem;
  overflow: auto;
}

.left_side {
  display: inherit;
  height: 100vh;
  width: 50%;
  border: 1px solid;
}

.right_side {
  display: inherit;
  height: 100vh;
  width: 50%;
  border: 1px solid;
}

.h1_bjorn {
  text-align: center;
}

.bjorn{
    display: inline-block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 34%;
    max-width: 250px;
    min-width: 250px;
}

.h3_bjorn{
    text-align: center;
}

.h1_ivar {
    text-align: center;
  }
  
  .ivar{
      display: inline-block;
      height: 250px;
      width: 250px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top;
      margin-left: 34%;
      max-width: 250px;
      min-width: 250px;
  }
  
  .h3_ivar{
      text-align: center;
  }