*{
    box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  margin: 0%;
}

.card .head, .centre, .footer{
    width: 30vw;
    margin-left: 35%;
}


.head{
    background-color: blue;
    height: 20vh;
    margin-top: 2%;
}

.centre{
    background-color: white;
    height: 40vh;
    border: 1px solid lightblue;
}

.footer{
    background-color: blue;
    height: 10vh;
}

.avatar{
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 5px solid red;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 36%;
    margin-top: -70px;
}

.name{
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

.follow{
    background-color: green;
    margin: 20px 10px 20px 180px;
}

.send{
    background-color: lightblue;
}

.allbut{
    display: inline-block;
    border-color: white;
    margin-bottom: 40px;    
}

.icon{
    display: inline-block;
    margin-top: 5%;
}

.facebook{
    margin-left: 40%;

}

.facebook, .google{
    margin-right: 3%;
}